<div class="tops">
  <div class="top-left">
    <div class="left-message">
      <div class="main-message">
        <h1>ひまチャット<span class="fa fa-comment fatop"></span></h1>
      </div>
      <div class="sub-message">
        <p><span class="fa fa-check-circle fatop"></span>暇なときに呟いてみよう</p>
        <p><span class="fa fa-check-circle fatop"></span>好きな投稿をお気に入り</p>
      </div>
    </div>
  </div>
  <div class="top-right">
    <div class="right-message">
      <h2>ひまチャットでみんなとつながろう</h2>
      <div class="in-form">
        <%= link_to("新規登録","/signup") %>
        <%= link_to("ログイン","/login") %>
      </div>
    </div>
  </div>
</div>
